@model QL_ThuVien.Models.Register

@{
    ViewBag.Title = "Làm thẻ trực tuyến";
    Layout = "~/Views/Shared/_LayOut.cshtml";
}

<h2>Làm thẻ thư viện trực tuyến</h2>

@using (Html.BeginForm("DangKy", "RegisterBanDoc", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Nhập thông tin</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.BD_HoVaTen, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BD_HoVaTen, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BD_HoVaTen, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BD_NgaySinh, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BD_NgaySinh, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BD_NgaySinh, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BD_TrinhDo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BD_TrinhDo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BD_TrinhDo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BD_NoiCongTacHocTap, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BD_NoiCongTacHocTap, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BD_NoiCongTacHocTap, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BD_NgheNghiep, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BD_NgheNghiep, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BD_NgheNghiep, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BD_ChoOHienTai, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BD_ChoOHienTai, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BD_ChoOHienTai, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BD_DTDIDong, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BD_DTDIDong, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BD_DTDIDong, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BD_Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BD_Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BD_Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Đăng ký" class="btn btn-primary" />
            <input type="reset" value="Làm lại" class="btn btn-default" />
        </div>
    </div>

    <div>
        <p>Nhằm tạo điều kiện để công tác cấp thẻ thư viện cho bạn đọc được thuận tiện và nhanh chóng, bạn đọc có thể thực hiện trước các bước sau: <br /> </p>

        <p style="margin-left:20px">- Nhập chính xác thông tin cá nhân theo biểu mẫu trên màn hình. <br /></p>

        <p style="margin-left:20px">
            - Chuẩn bị biểu mẫu đăng ký làm thẻ bằng cách tải tập tin đính kèm về: <a href="http://www.thuviencantho.vn/Database/Bieumau_Dangky.doc">Bieumau_Dangky.doc</a>. In ra giấy, điền đầy đủ thông tin của bạn đọc và có xác nhận của cơ quan đang công tác hoặc của chính quyền địa phương. <br />
        </p>

        <p style="margin-left:20px">
            - Chuẩn bị lệ phí thẻ là: <b>20.000 đ/năm</b> đối với thẻ người lớn và <b>10.000 đ/năm</b> đối với thẻ thiếu nhi.<br />
        </p>

        <p style="margin-left:20px">
            - Chuẩn bị 2 ảnh 2 x 3 mới nhất.<br />
        </p>

        <p>
            Sau khi hoàn thành các bước trên, bạn đọc đến Phòng Mượn - Thư viện thành phố Cần Thơ làm thủ tục nhận thẻ thư viện.<br /></p>

            <p style="margin-left:20px">
                - Xem quy định cấp thẻ thư viện: <a href="http://www.thuviencantho.vn/Database/Quydinh_Capthe.doc">Quydinh_Capthe.doc</a><br />
            </p>

            <p style="margin-left:0px; color:red">
                - Chú ý: Trong thời hạn 15 ngày kể từ khi đăng ký làm thẻ thư viện trực tuyến mà bạn không đến thư viện để làm thủ tục nhận thẻ, thông tin bạn đã đăng ký làm thẻ thư viện trực tuyến xem như hủy bỏ.<br />
            </p>

            <p style="text-align:right">Cám ơn !</p>
    </div>
</div>
}

