
@model QL_ThuVien.Areas.Admin.Models.LoginModel
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Please Sign In</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                {


                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    @*@Html.ValidationSummary(false, "", "error");*@
                    <fieldset>
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "UserName", @autofocus = "autofocus" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @placeholder = "Password", @type = "Password" })
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.Remenberme)
                                Remember Me
                            </label>
                        </div>
                        <!-- Change this to a button or input when using this as a form -->
                        <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>


