@model QL_ThuVien.Models.NhanVien

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details Nhân Viên</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Họ tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NV_HOTEN)
        </dd>

        <dt>
            Ngày sinh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NV_NGAYSINH)
        </dd>

        <dt>
            Giới tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NV_GIOITINH)
        </dd>

        <dt>
         Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NV_EMAIL)
        </dd>

        <dt>
           SDT
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NV_SDT)
        </dd>

        <dt>
            Quê quán
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NV_QUEQUAN)
        </dd>

        <dt>
            Mật khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NV_MATKHAU)
        </dd>

        <dt>
            Hình ảnh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NV_HINHANH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NV_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
