@model IEnumerable<QL_ThuVien.Models.NhanVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayOutPhieuYeuCau.cshtml";
}
<div class="khonghinhnen">
<h2>Admin Nhân viên</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Họ & tên
        </th>
        <th>
            Ngày sinh
        </th>
        <th>
            Giới tính
        </th>
        <th>
            Email
        </th>
        <th>
            SDT
        </th>
        <th>
            Quê quán
        </th>
        <th>
            Mật khẩu
        </th>
        <th>
            Hình ảnh
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NV_HOTEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NV_NGAYSINH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NV_GIOITINH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NV_EMAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NV_SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NV_QUEQUAN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NV_MATKHAU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NV_HINHANH)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.NV_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.NV_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.NV_ID })
            </td>
        </tr>
    }

</table>
</div>