@model QL_ThuVien.Models.BanDoc

@{
    ViewBag.Title = "Chỉnh sửa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
<script language="javascript">
            angular.module('myapp', [])
                .controller('DateController', ['$scope', function ($scope) {
                    $scope.value = new Date("@Model.BD_NgaySinh");
                    $scope.value1 = new Date("@Model.BD_CapNgay");
                    $scope.value2 = new Date("@Model.BD_HopDongLaoDong");
                    $scope.value3 = new Date("@Model.BD_NgayCap");
        }]);

</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" ng-app="myapp">
        <h4>BanDoc</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.BD_SoThe)

        <div class="form-group">
            @Html.LabelFor(model => model.BD_HoVaTen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BD_HoVaTen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BD_HoVaTen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" name="myForm" ng-controller="DateController">
            @Html.LabelFor(model => model.BD_NgaySinh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" name="BD_NgaySinh" ng-model="value" id="BD_NgaySinh" class="form-control" />
                @Html.ValidationMessageFor(model => model.BD_NgaySinh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BD_SoCMND, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BD_SoCMND, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BD_SoCMND, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" name="myForm" ng-controller="DateController">
            @Html.LabelFor(model => model.BD_CapNgay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" name="BD_CapNgay" ng-model="value1" id="BD_CapNgay" class="form-control" />
                <!--Html.EditorFor(model => model.BD_CapNgay, new { htmlAttributes = new { class = "form-control" } }) -->
                @Html.ValidationMessageFor(model => model.BD_CapNgay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BD_NoiCap, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BD_NoiCap, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BD_NoiCap, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BD_TrinhDo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BD_TrinhDo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BD_TrinhDo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BD_NoiCongTacHocTap, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BD_NoiCongTacHocTap, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BD_NoiCongTacHocTap, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BD_NgheNghiep, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BD_NgheNghiep, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BD_NgheNghiep, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BD_ChucVu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BD_ChucVu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BD_ChucVu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" name="myForm" ng-controller="DateController">
            @Html.LabelFor(model => model.BD_HopDongLaoDong, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" name="BD_HopDongLaoDong" ng-model="value2" id="BD_HopDongLaoDong" class="form-control" />
                <!--Html.EditorFor(model => model.BD_HopDongLaoDong, new { htmlAttributes = new { class = "form-control" } }) -->
                @Html.ValidationMessageFor(model => model.BD_HopDongLaoDong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BD_DiaChiNoiLamViec, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BD_DiaChiNoiLamViec, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BD_DiaChiNoiLamViec, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BD_DTCoQuan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BD_DTCoQuan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BD_DTCoQuan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BD_DTDIDong, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BD_DTDIDong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BD_DTDIDong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BD_Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BD_Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BD_Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BD_ChoOHienTai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BD_ChoOHienTai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BD_ChoOHienTai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BD_GioiHanMuon, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BD_GioiHanMuon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BD_GioiHanMuon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" name="myForm" ng-controller="DateController">
            @Html.LabelFor(model => model.BD_NgayCap, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" name="BD_NgayCap" ng-model="value3" id="BD_NgayCap" class="form-control" />
                <!--Html.EditorFor(model => model.BD_NgayCap, new { htmlAttributes = new { class = "form-control" } })-->
                @Html.ValidationMessageFor(model => model.BD_NgayCap, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BD_HinhAnh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BD_HinhAnh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BD_HinhAnh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                <button class="btn btn-default"><a href="/BanDocs">Hủy bỏ</a></button>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
