@model PagedList.IPagedList<QL_ThuVien.Models.BanDoc>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Bạn đọc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách bạn đọc</h2>

<p>
    @using (Html.BeginForm("Index", "BanDocs", FormMethod.Get))
    {
        <div class="row form-group">
            <div class="col-lg-10">
                <div class="col-md-4">
                    <input type="text" value="@ViewBag.TimKiem" class="form-control" name="timkiem" />
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-success">Tìm kiếm</button>
                    <a class="btn btn-primary" href="/BanDocs/Create">Thêm mới</a>
                </div>
            </div>
        </div>

    }
</p>
<table class="table">
    <tr>
        <th>
            Số thẻ
        </th>
        <th>
            Họ và tên
        </th>
        <th>
            Ngày sinh
        </th>
        <th>
            Số CMND
        </th>
        <th>
            Ngày cấp
        </th>
        <th>
            Nơi cấp
        </th>
        <th>
            Trình độ
        </th>
        <th>
            Nơi công tác
        </th>
        <th>
            Nghề nghiệp
        </th>
        <th>
            Chức vụ
        </th>
        <th>
            Thời hạn lao động
        </th>
        <th>

            Địa chỉ
        </th>
        <th>
            SĐT cơ quan
        </th>
        <th>
            SĐT di dộng
        </th>
        <th>
            Email
        </th>
        <th>
            Chổ ở hiện tại
        </th>
        <th>
            Giới hạn sách mượn
        </th>
        <th>
            Ngày cấp thẻ
        </th>
        <th>
            Hình ảnh
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BD_SoThe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BD_HoVaTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BD_NgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BD_SoCMND)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BD_CapNgay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BD_NoiCap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BD_TrinhDo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BD_NoiCongTacHocTap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BD_NgheNghiep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BD_ChucVu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BD_HopDongLaoDong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BD_DiaChiNoiLamViec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BD_DTCoQuan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BD_DTDIDong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BD_Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BD_ChoOHienTai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BD_GioiHanMuon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BD_NgayCap)
            </td>
            <td>
                <img src="@Url.Content("~/Content/Image/" + item.BD_HinhAnh)" height="30" width="30" />
            </td>
            <td>
                <a href="/BanDocs/Edit/@item.BD_SoThe" class="glyphicon glyphicon-pencil" style="font-size:15px ;" plac></a>
                <a href="/BanDocs/Details/@item.BD_SoThe" class="glyphicon glyphicon-list-alt" style="font-size:15px"></a>
                <a href="/BanDocs/Delete/@item.BD_SoThe" class="glyphicon glyphicon-trash" style="font-size:15px"></a>
            </td>
        </tr>


    }

</table>

<div style="margin-left:10px;">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
