@model QL_ThuVien.Models.HoatDong

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutHoatDong.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HoatDong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HD_ChuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HD_ChuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HD_NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HD_NoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HD_NgayHoatDong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HD_NgayHoatDong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HD_NgayKetThuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HD_NgayKetThuc)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
