@model QL_ThuVien.Models.HoatDong

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutHoatDong.cshtml";
}

<h2>Hoạt động</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HD_ChuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HD_ChuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HD_NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HD_NoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HD_NgayHoatDong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HD_NgayHoatDong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HD_NgayKetThuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HD_NgayKetThuc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Trở về", "Index", new { @class="btn btn-block" })
</p>
