@model QL_ThuVien.Models.TaiLieu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details Tài Liệu</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Chủ đề
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TL_ChuDe)
        </dd>

        <dt>
            Tiêu đề
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TL_TieuDe)
        </dd>

        <dt>
            Tác giả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TL_TacGia)
        </dd>

        <dt>
            Nhà xuất bản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TL_NhaXuatBan)
        </dd>

        <dt>
            Năm xuất bản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TL_NamSanXuat)
        </dd>

        <dt>
            Số trang
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TL_SoTrang)
        </dd>

        <dt>
            Tóm tắt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TL_TomTat)
        </dd>

        <dt>
            Khổ sách
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TL_KhoSach)
        </dd>

        <dt>
            Trạng thái
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TL_TrangThai)
        </dd>

        @*<dt>
            Hình ảnh
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.TL_HinhAnh)
        </dd>*@

        <dt>
            Ngày nhập
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TL_NgayNhap)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TL_SoDangKyCaBiet }) |
    @Html.ActionLink("Back to List", "Index")
</p>
