@model QL_ThuVien.Models.PhieuYeuCau

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayOutPhieuYeuCau.cshtml";
}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
<script language="javascript">
            angular.module('myapp', [])
                .controller('DateController', ['$scope', function ($scope) {
                    $scope.value = new Date("@Model.PYC_NgayMuon");
                    $scope.value1 = new Date("@Model.PYC_NgayTra");
        }]);

</script>
<div class="col-sm-3"></div>
@Html.Raw(ViewBag.tre)
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal col-sm-6 khonghinhnen" ng-app="myapp">
        <h4>Chỉnh sửa</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.PYC_IDPhieuYeuCau)

        <div class="form-group">
            @Html.LabelFor(model => model.BD_SoThe,  htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <input type="text" id="BD_SoThe" name="BD_SoThe" class="form-control" />
                @Html.ValidationMessageFor(model => model.BD_SoThe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TL_SoDangKyCaBiet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <input type="text" id="TL_SoDangKyCaBiet" name="TL_SoDangKyCaBiet" class="form-control" />
                @Html.ValidationMessageFor(model => model.TL_SoDangKyCaBiet, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PYC_TrangThai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <select id="PYC_TrangThai" name="PYC_TrangThai" class="form-control">
                    <option value="0">Đã trả</option>
                    <option value="1">Chưa trả</option>
                </select>
                @Html.ValidationMessageFor(model => model.NV_ID, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group" name="myForm" ng-controller="DateController">
            @Html.LabelFor(model => model.PYC_NgayMuon, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <input type="date" name="PYC_NgayMuon" ng-model="value" id="PYC_NgayMuon" class="form-control" />
                @Html.ValidationMessageFor(model => model.PYC_NgayMuon, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group" name="myForm" ng-controller="DateController">
            @Html.LabelFor(model => model.PYC_NgayTra, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <input type="date" name="PYC_NgayTra" ng-model="value1" id="PYC_NgayTra" class="form-control" />
                @Html.ValidationMessageFor(model => model.PYC_NgayTra, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.PYC_Tre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PYC_Tre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PYC_Tre, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-success" /> 
                <a href="/PhieuyeuCaus/"><input type="button" value="Hủy" class="btn btn-danger" /></a>
            </div>
        </div>
    </div>
}
    <div class="col-sm-3 "></div>