@model IPagedList<QL_ThuVien.Models.PhieuYeuCau>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayOutPhieuYeuCau.cshtml";
    QL_ThuVien.Controllers.PhieuYeuCausController yeuCausController = new QL_ThuVien.Controllers.PhieuYeuCausController();
}


<table class="table khonghinhnen">
    <tr>
        <th>
            @Html.DisplayName("Tên bạn đọc")
        </th>
        <th>
            @Html.DisplayName("Tên nhân viên")
        </th>
        <th>
            @Html.DisplayName("Số ĐK cá biệt")
        </th>
        <th>
            @Html.DisplayName("Ngày mượn")
        </th>
        <th>
            @Html.DisplayName("Ngày trả")
        </th>
        <th>
            @Html.DisplayName("Trễ")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BanDoc.BD_HoVaTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhanVien.NV_HOTEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TL_SoDangKyCaBiet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PYC_NgayMuon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PYC_NgayTra)
            </td>
            <td>
                @yeuCausController.SoNgayTre(item.PYC_IDPhieuYeuCau)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PYC_IDPhieuYeuCau }) |
                @Html.ActionLink("Details", "Details", new { id = item.PYC_IDPhieuYeuCau }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PYC_IDPhieuYeuCau })
            </td>
        </tr>
    }

</table>
<div class="col-md-12 text-center">
    @Html.PagedListPager(Model, sotrang => Url.Action("getList", new { page = sotrang }))
</div>