@model IEnumerable<QL_ThuVien.Models.PhieuYeuCau>

@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_LayOutPhieuYeuCau.cshtml";

}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-sm-1"></div>

    <div class="col-sm-10 khonghinhnen">
        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
        @Html.Raw(ViewBag.v)
        <div class="col-sm-5 khonghinhnen">
            <br />
            <h2 class="tieude text-center">Mã thẻ</h2>
            <div class="col-sm-4"><b class="khonghinhnen"></b><br /><input type="text" id="SoThe" value="@Session["SoThe"]" class="form-control" /><input type="button" id="TK1" value="Tim Kiem" /></div>
            <br /><br /> <span id="ViewST"></span>

            @*<p>
                    <a href="/PhieuyeuCaus/Create"><input type="button" value="Tạo phiếu mới" class="btn btn-success" /></a>
                </p>*@
            <table class="table" ng-app="myapp"></table>
        </div>
        <div class="col-sm-5 khonghinhnen">
            <br />
            <h2 class="tieude text-center">Mã sách</h2>
            <div class="col-sm-4"><b class="khonghinhnen"></b><br /><input type="text" id="SDKCB" value="@Session["SDKCB"]" class="form-control" /> <input type="button" id="TK2" value="Tim Kiem" /></div>

            <br /><br />
            <span id="ViewSDKCB"></span>

            @*<p>
                    <a href="/PhieuyeuCaus/Create"><input type="button" value="Tạo phiếu mới" class="btn btn-success" /></a>
                </p>*@

        </div>
        <div class="col-sm-2"><br /><br /><br /><br /><br /><input type="submit" class="btn btn-success" value="Mượn" id="Muon" /></div>
    </div><table class="table" ng-app="myapp"></table>
    <div class="col-sm-1"></div>
}