@model QL_ThuVien.Models.TaiLieu

@{
    ViewBag.Title = "SearchSDKCB";
    Layout = null;
    QL_ThuVien.Controllers.PhieuYeuCausController yeuCausController = new QL_ThuVien.Controllers.PhieuYeuCausController();

}


@if (ViewBag.info != null)
{

    @Html.Raw(ViewBag.info)
}
else
{
    <div>
        <br />
        <hr />
        <dl class="table dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TL_SoDangKyCaBiet)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TL_SoDangKyCaBiet)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TL_TieuDe)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TL_TieuDe)
            </dd>
            <dt>
            @Html.DisplayName("Trạng thái")
            </dt>
            <dd>
               @yeuCausController.KTSach(Model.TL_SoDangKyCaBiet)
            </dd>

        </dl>
    </div>
}