@model QL_ThuVien.Models.TaiLieu

@{
    ViewBag.Title = "SearchSDKCB";
    Layout = null;
}


@if (ViewBag.info != null)
{

    @Html.Raw(ViewBag.info)
}
else
{
    <div>
        <br />
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TL_SoDangKyCaBiet)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TL_SoDangKyCaBiet)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TL_TieuDe)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TL_TieuDe)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TL_TrangThai)
            </dt>


            @if (Model.TL_TrangThai == 1)
            {
                <dd>Đã mượn</dd>
            }
            else
            {
                <dd>Chưa mượn</dd>}
        </dl>
    </div>
}