@model QL_ThuVien.Models.BanDoc

@{
    ViewBag.Title = "SearchSoThe";
    Layout = null; }

@if (ViewBag.info != null)
{

    @Html.Raw(ViewBag.info)
}
else
{
    <div>
        <hr />
        <br />
        <dl class="table dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.BD_HoVaTen)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BD_HoVaTen)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.BD_GioiHanMuon)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BD_GioiHanMuon)
            </dd>


          

        </dl>
    </div>
}