@model IEnumerable<QL_ThuVien.Models.PhieuYeuCau>

@{
    ViewBag.Title = "thongke";
    Layout = "~/Views/Shared/_LayOutPhieuYeuCau.cshtml";
    QL_ThuVien.Controllers.PhieuYeuCausController phieu = new QL_ThuVien.Controllers.PhieuYeuCausController();
}

<h2>Thông kê</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table khonghinhnen">
    <tr>
        <th>
            Số thẻ
        </th>
        <th>Số lần mượn</th>
        <th>
            Số đăng ký cá biệt
        </th>
        <th>Được mượn</th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.view) {
    <tr>
        <td>
            @item.BD_SoThe
        </td>
        <td>@phieu.tongnguoimuon(item.BD_SoThe)</td>
        <td>
            @item.TL_SoDangKyCaBiet
        </td>
        <td>@item.TL_SoDangKyCaBiet</td>
    </tr>
}

</table>
